@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@import 'tailwindcss';

@theme {
  /* Custom theme colors */
  --color-green-800: #4eac6d;
  --color-green-900: #326f47;
  --color-white: #ffffff;
  --color-gray-800: #495057;
  --color-gray-600: #777c81;
  --color-gray-450: #eaeaf1;
  --color-gray-400: #f6f6f9;
  --color-facebook-blue: #560bad;
  --color-twitter-blue: #50a5f1;
  --color-google-red: #ef476f;
}

/* Custom Global Reset and Styling */
html,
body {
  /* @apply bg-gray-50 text-gray-800 font-sans antialiased; */
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-green-800);
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

/* Box-sizing reset for consistent layout behavior */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  @apply text-[#4EAC6D] hover:text-[#326f47] underline;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}

a:focus {
  @apply outline-none ring-2 ring-green-300;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium leading-tight;
  margin: 0;
}

/* Paragraphs */
p {
  /* @apply text-gray-700 leading-relaxed; */
  margin-bottom: 1rem;
}

/* Buttons */
button {
  @apply bg-green-800 text-white font-medium py-2 px-4 rounded shadow-md;
  transition: all 0.2s ease-in-out;
}

button:hover {
  @apply bg-green-900;
}

button:focus {
  @apply outline-none ring-2 ring-green-300;
}

button:disabled {
  @apply bg-gray-300 text-gray-600 cursor-not-allowed;
}

/* Inputs and Forms */
input,
textarea,
select {
  @apply border border-gray-300 rounded-md px-3 py-2 shadow-sm w-full focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-500;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}

label {
  @apply block text-gray-700 font-medium mb-1;
}
